name: 构建 v2rayA 安装包（APT方式）

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: 安装依赖
        run: sudo apt update && sudo apt install -y iptables curl wget jq

      - name: 安装 v2ray-core
        run: |
          curl -Ls https://hubmirror.v2raya.org/raw/v2fly/fhs-install-v2ray/master/install-release.sh | sudo bash
          sudo systemctl disable v2ray --now

      - name: 添加 v2raya APT 源并安装
        run: |
          wget -qO - https://apt.v2raya.mzz.pub/key/public-key.asc | sudo tee /etc/apt/trusted.gpg.d/v2raya.asc
          echo "deb https://apt.v2raya.mzz.pub/ v2raya main" | sudo tee /etc/apt/sources.list.d/v2raya.list
          sudo apt update
          sudo apt install -y v2raya

      - name: 收集可执行文件
        run: |
          mkdir -p bundle/bin
          cp /usr/bin/v2ray bundle/bin/
          cp /usr/bin/v2raya bundle/bin/
          echo '#!/bin/bash' > bundle/run.sh
          echo './bin/v2ray &' >> bundle/run.sh
          echo './bin/v2raya' >> bundle/run.sh
          chmod +x bundle/run.sh

      - name: 打包为 tar.gz
        run: tar -czvf v2rayA-bundle.tar.gz bundle/

      - name: 发布到 GitHub Releases
        uses: softprops/action-gh-release@v1
        with:
          files: v2rayA-bundle.tar.gz
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}
